################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Azure-Storage/bin/Debug
/Azure-Storage/obj/Debug
/Azure-Storage/packages
/Azure-Storage/.vs/Azure-Storage/v16
